<ngx-ui-loader text="Please wait..."></ngx-ui-loader>
<router-outlet></router-outlet>

<section class="vh-100" style="display: none;">
  <!-- <div>
    <canvas id="lineChart" width="400" height="400"></canvas>
  </div> -->

  <div style="width: 800px; height: 400px;">
    <canvas  id="MyChart" width="800" height="450">{{ chart }}</canvas>
</div>
  


  <div class="container py-5">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-7 col-xl-7">

        <div class="card  bg-image shadow-4-strong" 
        [style.background-image]="'url(' + getBackgroundImageUrl() + ')'" >
          <!-- Main current data -->
          <div class="card-header p-4 border-0">
            <div class="text-center mb-3">
              <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" [(ngModel)]="city" />
                <button style="color: whitesmoke;" type="button" class="btn" data-mdb-ripple-init
                  (click)="getCityDetails(city)"><i class="fas fa-search" style="color: black;"></i></button>
              </div>
            </div>

          </div>
          <div class="card-header p-4 border-0" >
            <div *ngIf="!currentWeather || notFound">
              <div class="text-center mb-3" *ngIf="!notFound">
                <img src="assets/search location.webp" alt="">
                <p class="h2 mb-1">Search location...</p>
              </div>
              <div class="text-center mb-3" *ngIf="notFound">
                <img src="assets/location-not-found-7469034-6136211.webp" alt="">
                <p class="h2 mb-1">Sorry !! Not found</p>
              </div>
            </div>
            
            <div *ngIf="currentWeather">

              <div class="text-center mb-3" *ngIf="!notFound">
                <p class="h2 mb-1">{{cityName}}, {{country}}</p>
                <p class="mb-1">{{main}}</p>
                <p class="display-1 mb-1">{{temperature}}°C</p>
                <span class="">Min : <span>{{minTemperature}}</span></span>
                <span class="mx-2">|</span>
                <span class="">Max: <span>{{maxTemperature}}</span></span>
              </div>

              <div class="d-flex justify-content-around text-center  pt-2" *ngIf="!notFound">
                <div class="flex-column">
                  <p class="small"><strong>Humidity</strong></p>
                  <i class="fas fa-water fa-2x mb-3" style="color: black;"></i>
                  <p class="mb-0"><strong>{{humidity}}%</strong></p>
                </div>
                <div class="flex-column">
                  <p class="small"><strong>Wind</strong></p>
                  <i class="fas fa-wind fa-2x mb-3" style="color: black;"></i>
                  <p class="mb-0"><strong>{{wind}} km/h</strong></p>
                </div>
              </div>
            </div>
            
            
            
          </div>

          <!-- Hourly forecast -->
          <div *ngIf="currentWeather">
            <div class="card-body p-4 border-top " *ngIf="!notFound">
              <div class="d-flex justify-content-around text-center  pb-3 pt-2" *ngIf="forecastDataByDay">
                <div class="flex-column" *ngFor="let day of forecastDataByDay">
                  <p class="small"><strong>{{ getDayOfWeek(day.date) }}</strong></p>
                  <!-- <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i> -->
                  <!-- <i [ngClass]="getWeatherIcon(day.forecasts[0].weather[0].main)"></i> -->
                  <i class="fas fa-2x mb-3" style="color: black;" [ngClass]="getWeatherIconClass(day.weatherIcon)"></i>
                  <p class="mb-0"><strong>{{ day.temperature }}°C</strong></p>
                  <p class="mb-0 "  style="font-size: 12px;">{{ day.weatherDescription }}</p>
                </div>
              </div>
            </div>
          </div>
          

          <!-- Daily forecast -->
          
        </div>

      </div>
    </div>

  </div>
</section>